* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;

}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.container {
    width: 80%;
    margin: 0 auto;
    max-width: 800px;
    margin-top: 90px;
}

.box-link {
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: darkgray;

}


header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}



.box-link a:hover {
    color: crimson;
}

.title {
    text-align: center;

}


.home-content {
    margin-top: 10px;
    padding: 10px;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    justify-content: center;
    align-items: center;
    background-color: darkgrey;
    border: 3px solid black;
    border-radius: 20px;
}

.list-milestone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 19px;
}

.form-stone1 {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-stone1 input {
    padding: 15px;

    border: 3px solid black;
    border-radius: 20px;

}

.form-stone1 select {
    padding: 15px;
    width: 100%;
    border: 3px solid black;
    border-radius: 20px;
    cursor: pointer;

}

.form-stone1 button {

    padding: 20px;
    background-color: darkgray;
    border: 3px solid black;
    border-radius: 20px;
    cursor: pointer;
}

.form-stone1 button:hover {
    background-color: green;
}

.form-stone1 textarea {
    padding: 15px;
    border: 3px solid black;
    border-radius: 20px;
}

.noValid {
    color: red;

}

.valid {
    color: green;
}