* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;

}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.container {
    width: 80%;
    margin: 0 auto;
    max-width: 800px;
    margin-top: 90px;
}

.box-link {
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: darkgray;

}


header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}



.box-link a:hover {
    color: crimson;
}

.title {
    text-align: center;

}